@layer base {
  .ball {
    background: linear-gradient(to right, #6290c8, #1f487e);
    animation: BallAnimation 20s ease-in-out infinite;
    @apply rounded-full w-[450px] h-[450px] fixed blur-[270px] right-0 top-0;
  }
}

@keyframes BallAnimation {
  0%,
  to {
    transform: translate(0);
  }

  15% {
    transform: translate(10vw, 10vmin);
  }

  30% {
    transform: translate(5vw, 30vmin);
  }

  45% {
    transform: translate(-15vw, 80vmin);
  }

  60% {
    transform: translate(-25vw, 80vmin);
  }

  75% {
    transform: translate(-60vw, 70vmin);
  }

  90% {
    transform: translate(-25vw, 80vmin);
  }
}
