@layer base {
  .service-ctn {
    @apply z-10 flex flex-col items-center justify-between gap-y-6 md:flex-row md:items-start;
  }

  .service-item {
    @apply md:max-w-[550px] lg:max-w-[850px]
    flex flex-col lg:flex-row justify-between
    items-start gap-x-6;
  }

  .service-item-num {
    @apply text-xl lg:-mt-3 lg:opacity-0 transition-all duration-300 lg:group-hover:opacity-100;
  }

  .service-item-desc {
    @apply text-base lg:text-xl lg:leading-8 
    mt-4 lg:opacity-0 lg:translate-y-12 transition-all 
    duration-300 ease-out lg:group-hover:translate-y-0 
    lg:group-hover:opacity-100 lg:mt-8 lg:pr-8;
  }

  .service-item-title {
    @apply text-3xl lg:text-[44px] font-black;
  }
}

@media (min-width: 1024px) {
  .services:hover article {
    opacity: 0.3 !important;
  }

  .services:hover article:hover {
    opacity: 1 !important;
  }
}
