* {
  font-family: "Red Hat Display", sans-serif;
}

@layer base {
  .gradient {
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-r from-[#6B71FF] to-[#FF74E9] bg-clip-text fill-transparent w-fit;
  }

  .hover-gradient {
    @apply from-[#a2a5ff] to-[#ffa9f2] hover:bg-gradient-to-r hover:text-white;
  }

  .backdrop-full {
    position: relative;
  }
  .backdrop-full::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    @apply backdrop-blur;
  }
}
